.activityForm{
    box-sizing: border-box;
    border: 2px solid#5f708c;
    border-radius: 5px;
    padding: 8px;
    margin: 2px;
}


.activityForm:focus {
    background-color: #95b4e6;
}

#adaugareActiv{
    margin-top: -180px;
    margin-left: 120px;
}

#buton_adauga_Activ{
    outline: none !important;
	border: none;
    background: transparent;
    background-color: #0f4296;
    border-radius: 9px;
    padding: 10px;
    transition-property: width;
    cursor: pointer;
    margin-left: 39px;
}

#buton_adauga_Activ:hover{
    background-color: #1f58b5;
    width: 80px;
}

#heading_activity{
    text-shadow: 2px 2px #061938;
    margin-right: 15px;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: -1px;
}