.citat{
    /* padding: 25px;
    margin-top: 200px;
    margin-left: 20px;
    font-style: italic;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

table{
    border-collapse: collapse;
    color: whitesmoke;
    margin-left: 195px;
    margin-top: -150px;
}

table, th, tr, td{
    border: 1.5px solid #000000;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #2f5ca3;
    /* opacity: 0.5; */
}

tr:first-child{
    opacity: 0.5;
    font-style: italic;
}