.principalLog{
    height: 100vh;
    width: 80vw;
    margin-left: 100px;
}
.stanga{
    height: 100vh;
    width: 30vw;
    float:left;
}
.dreapta{
    height: 100vh;
    width: 30vw;
    float:right;
}
.sidebar-item{
    height: 33vh;
    line-height: 33vh;

}
.images{
    height: 33vh;
    line-height: 33vh;
    padding: 5px;
    margin-left: 70px;
}
.sidebar-item:hover{
    border: 3px dashed black;
    background-color: rgb(32, 58, 107);
    opacity: 0.7;
}

#id_of_activ{
    margin-top: -250px;
    margin-right: 300px;
}

.stanga, .dreapta{
    margin-top: 90px;
}