#add{
    margin-left: 150px;
    margin-right: 150px;
}

#view{
    margin-left: 50px;
}

.butoane{
    margin-left: 130px;
    margin-top: 80px;
}

.links{
    border: 5px;
    background-color: #e0c275;
    margin-left: 330px;
    border-color: #cc9b85;
    border-width: 3px;
    font-style: oblique;
    padding: 11px;
}

.links:hover{
    background-color:#b07263;
}