#acestFrom{
    margin-top: -100px;
    margin-left: 150px;
}

#btn{
    margin-left: 110px;
}

#input{
    box-sizing: border-box;
    border: 2px solid#5f708c;
    border-radius: 5px;
}

#input[type=text]:focus {
    background-color: #95b4e6;
}

#label{
    text-shadow: 2px 2px #061938;
    margin-right: 15px;
}

#butonLOGIN{
    outline: none !important;
	border: none;
    background: transparent;
    background-color: #061938;
    border-radius: 9px;
    padding: 10px;
    transition-property: width;
    cursor: pointer;
}

#butonLOGIN:hover{
    background-color: #1f58b5;
    width: 80px;
}