.login_or_reg{
    border: 5px;
    background-color: #e0c275;
    margin-left: 330px;
    border-color: #cc9b85;
    border-width: 3px;
    font-style: oblique;
    padding: 15px;
}

.login_or_reg:hover{
    background-color:#b07263;
}