#teacherLogin{
    /* margin-right: 200px; */
    margin-left: 100px;
    margin-top: -150px;
}

#buttonAddTeacher{
    margin-left: 110px;
    padding: 10px;
    outline: none !important;
	border: none;
    background: transparent;
    background-color: #061938;
    border-radius: 9px;
    transition-property: width;
    cursor: pointer;
}

#buttonAddTeacher:hover{
    background-color: #1f58b5;
    width: 80px;
}

.input{
    box-sizing: border-box;
    border: 2px solid#5f708c;
    border-radius: 5px;
}

.input[type=text]:focus {
    background-color: #95b4e6;
}

.label{
    text-shadow: 2px 2px #061938;
    margin-right: 15px;
}
