body{
    margin: 2px;
}

#formm{
    margin-left: 290px;
    margin-top: -150px;
}

#butRegister{
    margin-left: 40px;
    padding: 10px;
    outline: none !important;
	border: none;
    background: transparent;
    background-color: #061938;
    border-radius: 9px;
    transition-property: width;
    cursor: pointer;
}

#butRegister:hover{
    background-color: #1f58b5;
    width: 80px;
}

.input_register{
    box-sizing: border-box;
    border: 2px solid#5f708c;
    border-radius: 5px;
}

.input_register:focus{
    background-color: #95b4e6;
}
