table{
    border-collapse: collapse;
    color: whitesmoke;
    margin-left: 200px;
    margin-top: -150px;
}

table, th, tr, td{
    border: 1.5px solid #000000;
    text-align: center;
    padding: 10px;
}

.feedback{
    background-color: aquamarine;
}

#viewFeedback{
    margin-left: 70px;
    margin-top: 10px;
    padding: 10px;
    outline: none !important;
	border: none;
    background: transparent;
    background-color: #061938;
    border-radius: 9px;
    transition-property: width;
    cursor: pointer;
}

#viewFeedback:hover{
    background-color: #1f58b5;
    width: 80px;
}

#tabel_feedbacks{
    margin-top: 165px;
    margin-left: -40px;
}

#mesaj{
    margin-top: -150px;
    margin-left: 200px;
}