#viewActvity_form{
    margin-top: -150px;
    margin-left: 200px;
}

#keyAccess{
    box-sizing: border-box;
    border: 2px solid#5f708c;
    border-radius: 5px;
}

#keyAccess:focus{
    background-color: #95b4e6;

}

#buttonViewFeedbacks{
    margin-left: 70px;
    margin-top: 10px;
    padding: 10px;
    outline: none !important;
	border: none;
    background: transparent;
    background-color: #061938;
    border-radius: 9px;
    transition-property: width;
    cursor: pointer;
}

#buttonViewFeedbacks:hover{
    background-color: #1f58b5;
    width: 80px;
}
